@import '../configuration';

.intro {
  @include header-background;
  padding: $base-padding;
  position: relative;
  * {
    color: $header-font-color;
  }

  p.subs {
    font-size: $font-size-medium;
  }
}

// Hide header if set in config file
@if $display-header == false {
  .intro {
    display: none !important;
  }

  #language-switcher {
    margin: $base-padding/2 $base-padding/2 0 $base-padding/2;
  }
}

@if $display-header == true {
  #language-switcher {
    position: absolute;
    top: $base-padding/2;
    right: $base-padding/2;
  }
}
