@import '../configuration';
@import 'grid';

* {
  box-sizing: border-box;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

html {

  overflow-x: hidden;

  body {
    font-family: $body-font;
    color: $body-font-color;
    font-family: $body-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
    background: $body-background;
    color: $border-color;
  }
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
}
a:focus, a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-text-decoration;
}

.fa {
  margin-right: $base-padding/5;
}

.sub-title {
  width: 100%;
  margin: $base-padding/2 0;
}

img {
  max-width: 100%;
}

ul ul, ol ul {
  list-style-type: circle;
}
ul ul ul, ol ul ul {
  list-style-type: circle;
}
