
@font-face {
 font-family: 'Museo Sans';
 src: url('../fonts/MuseoSans_500-webfont.eot');
 src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'), url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Museo Slab';
 src: url('../fonts/Museo_Slab_500_2-webfont.eot');
 src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'), url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'), url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url('../fonts/glyphicons-halflings-regular.eot');
 src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
